In [1]:
import pandas as pd
import numpy as np
import numpy_financial as npf
import math

budget = pd.read_csv("budget_data.csv")

In [2]:
len(budget)

86

In [3]:
budget_p = budget['Profit/Losses'].sum()
budget_p

38382578

In [4]:
budget.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
# Adding a new shifted column to take values from P/L col and move down by one with new profit_2 column

In [6]:
budget["profit_2"] = budget["Profit/Losses"].shift()
budget.head()

       Date  Profit/Losses  profit_2
0  Jan-2010         867884       NaN
1  Feb-2010         984655  867884.0
2  Mar-2010         322013  984655.0
3  Apr-2010         -69417  322013.0
4  May-2010         310503  -69417.0

In [7]:
#Easily subtract profit_2 col from P/L col 
budget["change"] = budget["Profit/Losses"] - budget["profit_2"]
budget.head()

       Date  Profit/Losses  profit_2    change
0  Jan-2010         867884       NaN       NaN
1  Feb-2010         984655  867884.0  116771.0
2  Mar-2010         322013  984655.0 -662642.0
3  Apr-2010         -69417  322013.0 -391430.0
4  May-2010         310503  -69417.0  379920.0

In [8]:
budget["change"].mean()

-2315.1176470588234

In [9]:
budget["change"].min()

-2196167.0

In [10]:
budget["change"].max()

1926159.0